
<body>

    <section class="home" id="home">
        <div class="content">
            <h3>food made with love</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, quam!</p>
            <a href="#menubox" class="btn">order now</a>
        </div>
        
        <div class="image">
            <img src="IMAGES/home-img.jpg" alt="">
        </div>
    </section>
    <section class="bestinmenu" id="bestinmenu">
        <h1 class="heading"><span>best in our menu</span></h1>
        <div class="box-container">
            <div class="box">
                <img src="IMAGES/price-1.jpg" alt="">
                <h3>tasty burger</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <a href="#menubox" class="btn">View menu</a>
            </div>
            <div class="box">
                <img src="IMAGES/price-2.jpg" alt="">
                <h3>tasty cakes</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <a href="#menubox" class="btn">View Menu</a>
            </div>
            <div class="box">
                <img src="IMAGES/price-5.jpg" alt="">
                <h3>cold drinks</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <a href="#menubox" class="btn">View menu</a>
            </div>
        </div>
    </section>
    <section class="menu container mx-auto py-8" id="menubox">
        <h1 class="font-bold mb-8" style="font-size : 30px; background-color: lightcoral; text-align: center;">Burgers</h1>
        <div class="grid grid-cols-3 gap-x-12 gap-y-16">
            <% items.forEach(function(item){ %>
                <div class="w-64">
                    <img class="h-40 mb-4 mx-auto" src="IMAGES/<%= item.image %>" alt="">
                    <div style="text-align : center;">
                        <h2 class="mb-4" style="font-size : 16px;"><%=item.name%></h2>
                        <span class="px-4 rounded-full uppercase" style="font-size: 14px;">Serves 1</span>
                        <div class="flex items-center justify-around mt-6">
                            <span class="font-bold text-lg" style="font-size : 14px;">$<%= item.price %>.00</span>
                            <button data-item="<%= JSON.stringify(item) %>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                                <span>+</span>
                                <span class="ml-4">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
            <% })%>
            
        </div>
    </section>
    <section class="gallery" id="gallery">
        <h1 class="heading"> our food <span> gallery </span></h1>
        <div class="box-container">
            <div class="box">
                <img src="IMAGES/g-1.jpg" alt="">
            </div>
            <div class="box">
                <img src="IMAGES/g-2.jpg" alt="">
            </div>
            <div class="box">
                <img src="IMAGES/g-3.jpg" alt="">
            </div>
            <div class="box">
                <img src="IMAGES/g-4.jpg" alt="">
            </div>
            <div class="box">
                <img src="IMAGES/g-5.jpg" alt="">
            </div>
            <div class="box">
                <img src="IMAGES/g-6.jpg" alt="">
            </div>
            <div class="box">
                <img src="IMAGES/g-7.jpg" alt="">
            </div>
            <div class="box">
                <img src="IMAGES/g-8.jpg" alt="">
            </div>
            <div class="box">
                <img src="IMAGES/g-9.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="review" id="review">
        <h1 class="heading"> our customer <span>reviews</span></h1>
        <div class="box-xontainer">
            <div class="box">
                <img src="IMAGES/pic1.png" alt="">
                <h3>Sarah Walkman</h3>
                <div class="sars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis et cumque perspiciatis harum nihil adipisci?</p>
            </div>
            <div class="box">
                <img src="IMAGES/pic2.png" alt="">
                <h3>John Deo</h3>
                <div class="sars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis et cumque perspiciatis harum nihil adipisci?</p>
            </div>
            <div class="box">
                <img src="IMAGES/pic3.png" alt="">
                <h3>Jenny Blake</h3>
                <div class="sars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis et cumque perspiciatis harum nihil adipisci?</p>
            </div>
        </div>
    </section>
</body>
<script src="../js/app.js" type="text/javascript"></script>
</html> 