<!DOCTYPE html>
<html lang="en">
<head>
    <title>20BIT0098 FRONT-END WEBSITE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#" class="logo"><i class="fas fa-utensils"></i> SNACKSTOP</a>
        <nav class="navigationbar">
            <a href="#home">home</a>
            <a href="#bestinmenu">best in our menu</a>
            <a href="#burgermenu">Menu</a>
            <a href="#gallery">gallery</a>
            <a href="#review">review</a>
            <a href="/login" style="color : red; text-decoration : underline;">Login</a>
            <a href="/register" style="color : red; text-decoration : underline;">Register User</a>
            <a href="/cart" class="inline-block px-4 py-2 rounded-full items-center" id="cart">
                <span>Cart</span>
                <span id="cartCounter"><%= session.cart ? "(" + session.cart.totalQty + ")" : '' %></span></a>
        </nav>
    </header>
    <%- body %>
    <section class="footer" style="margin-top: 40px;">
        <div class="share">
            <a href="https://facebbok.com/" class="btn" target="_blank">facebook</a>
            <a href="https://twitter.com/home" class="btn" target="_blank">twitter</a>
            <a href="https://www.instagram.com/" class="btn" target="_blank">instagram</a>
            <a href="https://in.pinterest.com/" class="btn" target="_blank">pinterest</a>
            <a href="https://www.linkedin.com/feed/" class="btn" target="_blank">linkedin</a>
        </div>
        <h1 class="credit"> created by <span> Jaishuk P</span><br><span style="text-align: center;">20BIT0098</span></h1>
    </section>
</body>
</html> 